Nom;Prénom;Courriel;Adhésion;Montant
#foreach( $adherent in $conseilLocal.adherents)
$adherent.nom;$adherent.prenom;$adherent.courriel;#if( $adherent.adhesionTransmise)1#end;$adherent.montantAdhesion
#end
