<link rel="stylesheet" href="https://maven.apache.org/doxia/doxia-archives/doxia-1.6/doxia-modules/css/maven-base.css" type="text/css" />
<link rel="stylesheet" href="https://maven.apache.org/doxia/doxia-archives/doxia-1.6/doxia-modules/css/maven-theme.css" type="text/css" />
<link rel="stylesheet" href="https://maven.apache.org/doxia/doxia-archives/doxia-1.6/doxia-modules/css/site.css" type="text/css" />