<TABLE class="bodyTable" border="0">
	<TR>
    		<TH>Nom</TH>
    </TR>
	#foreach( $membre in $anneeScolaire.conseilLocal.membresCommissionEducative )
		<TR class="#isOdd( $foreach.count "a" "b")">
     		<TD>$membre.nom $membre.prenom</TD>
      	</TR>
	#end
</TABLE>